{% if pages == null %}
    <div class="alert alert-warning">
        <strong>Внимание!</strong> Нет добавленных страниц
    </div>
{% else %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Имя в меню</th>
            <th>Title</th>
            <th>Description</th>
            <th>Keywords</th>
            <th>Скрыть в меню</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.pageName }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.description }}</td>
                <td>{{ page.keywords }}</td>
                <td>
                    {% if page.isHidden == 1 %}
                        <input type="checkbox" value="isHidden" checked disabled>
                    {% else %}
                        <input type="checkbox" value="isHidden" disabled>
                    {% endif %}
                </td>
                <td>
                    <button type="button"
                            data-target="#page-{{ page.id }}"
                            class="btn btn-success"
                            data-toggle="modal"
                            data-tooltip="tooltip" title="Редактировать">
                        <span class="fa fa-edit"></span>
                    </button>
                    {% include 'dashboard/pages/modals/edit_page.twig' with {'id': page.id} %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}