{% if albums == null %}
    <div class="alert alert-warning">
        <strong>Внимание!</strong> Нет добавленных альбомов
    </div>
{% else %}
    <div class="info-message alert" hidden></div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Название альбома</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>
                    <a href="{{ path('album', {'id': album.id}) }}">
                        {{ album.name }}
                    </a>
                </td>
                <td>{{ album.date_created }}</td>
                <td>
                    <button type="submit"
                            class="btn btn-danger"
                            name="album_id"
                            onclick="deleteAlbum({{ album.id }}, '{{ path('delete_album') }}')"
                            data-tooltip="tooltip" title="Удалить">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}