{% extends 'base.twig' %}

{% block title %}
    {{ albumName }}
{% endblock %}

{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('dashboard') }}">
                    <span class="fa fa-arrow-left"></span>
                    {{ logo }}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}
    <div class="album">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if error is defined %}
                        <div class="alert alert-warning">{{ error }}</div>
                    {% endif %}
                    <blockquote>
                        <p>В альбом {{ albumName }} добавлено {{ photos | length }} фотографий</p>
                    </blockquote>
                </div>
                <div class="col-lg-12">
                    <form action="{{ path('upload_photo') }}" method="post" enctype="multipart/form-data">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Выбрать фото</span>
                            <input type="file" name="photos[]" multiple="multiple" id="photos">
                        </span>
                        <input type="text" value="{{ id }}" name="albumId" hidden>
                        <button type="submit" class="btn btn-warning">
                            <span class="fa fa-upload"></span>&nbsp;Загрузить
                        </button>
                    </form>
                    <table class="table table-condensed preview">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                {% for photo in photos %}
                    <div class="col-lg-2 col-xs-12">
                        <div class="thumbnail gallery">
                            <div class="thumbnail photo-caption">
                                <img src="{{ asset(photo.name) }}">
                            </div>
                            <div class="caption">
                                <div class="row">
                                    <div class="col-lg-4 text-center"></div>
                                    <div class="col-lg-4 text-center"></div>
                                    <div class="col-lg-4 text-center">
                                        <form method="post" action="{{ path('delete_photo') }}">
                                            <input name="albumId" value="{{ id }}" hidden>
                                            <button class="btn btn-danger"
                                                    name="deletePhoto" type="submit" value="{{ photo.id }}">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}