<div class="navbar navbar-default navbar-fixed-top header" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand site-logo" href="{{ path('home') }}">{{ siteName }}</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav hidden-xs hidden-sm pull-right">
				{% for page in pages %}
					{#<li class="active"><a href="#">Home</a></li>#}
					<li><a href="{{ path(page.routeName) }}">{{ page.menuName }}</a></li>
				{% endfor %}
				{#<li><a href="{{ path('tour') }}">Афиша</a></li>#}
				{#<li><a href="{{ path('band') }}">Группа</a></li>#}
				{#<li><a href="{{ path('photos') }}">Фото</a></li>#}
				{#<li><a href="{{ path('contacts') }}">Контакты</a></li>#}
				{#<li><a href="{{ path('rider') }}">Райдер</a></li>#}
			</ul>
			<ul class="nav navbar-nav hidden-lg hidden-md">
				{% for page in pages %}
					{#<li class="active"><a href="#">Home</a></li>#}
					<li><a href="{{ path(page.routeName) }}">{{ page.menuName }}</a></li>
				{% endfor %}
				{#<li><a href="{{ path('tour') }}">Афиша</a></li>#}
				{#<li><a href="{{ path('band') }}">Группа</a></li>#}
				{#<li><a href="{{ path('photos') }}">Фото</a></li>#}
				{#<li><a href="{{ path('contacts') }}">Контакты</a></li>#}
				{#<li><a href="{{ path('rider') }}">Райдер</a></li>#}
			</ul>
		</div>
	</div>
</div>