{% extends 'base.twig' %}

{% block title %}
    Welcome to root path
{% endblock %}

{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('root') }}">Чичерина - корневая директория</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('home') }}" target="_blank">
                            <span class="fa fa-home"></span>&nbsp;На сайт
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('root_logout') }}">
                            <span class="fa fa-sign-out"></span>&nbsp;Выход
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}
    <div class="root">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#admins">Админы</a></li>
            </ul>

            <div class="tab-content">
                <div id="admins" class="tab-pane fade in active">
                    {% if admins == null %}
                        <div class="alert alert-warning">
                            <strong>Внимание!</strong> Нет пользователей с правами администратора.
                        </div>
                    {% else %}
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Логин</th>
                                <th>Email</th>
                                <th>Дата создания</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for admin in admins %}
                                <tr>
                                    <td>{{ admin.username }}</td>
                                    <td>{{ admin.email }}</td>
                                    <td>{{ admin.created }}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-success"
                                                data-target="#{{ admin.id }}"
                                                data-toggle="modal"
                                                data-tooltip="tooltip"
                                                title="Редактировать">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </td>
                                    <td>
                                        <form action="{{ path('delete_admin') }}" method="post">
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    name="admin_id"
                                                    value="{{ admin.id }}"
                                                    data-tooltip="tooltip"
                                                    title="Удалить">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <div id="{{ admin.id }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">{{ admin.username }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Some text in the modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    <button type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#addAdmin">
                        <span class="fa fa-plus"></span>&nbsp;Добавить
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div id="addAdmin" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Новый администратор</h4>
                        </div>
                        <div class="info-message alert" hidden></div>
                        <form action="{{ path('add_admin') }}" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="login">Логин:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        <input type="text" name="login" class="form-control" id="login">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-at"></span>
                                        </div>
                                        <input type="text" name="email" class="form-control" id="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Пароль:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-key"></span>
                                        </div>
                                        <input type="password" name="password" class="form-control" id="password">
                                    </div>
                                </div>
                                <div class="form-group" hidden>
                                    <input type="text" name="role" id="role" value="ADMIN">
                                </div>
                                <div class="form-group" hidden>
                                    <input type="text" name="role" id="path" value="{{ path('add_admin') }}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    <span class="fa fa-close"></span>&nbsp;Отменить
                                </button>
                                <button type="button" class="btn btn-success"
                                        onclick="addAdmin(this.form)">
                                    <span class="fa fa-floppy-o"></span>&nbsp;Добавить
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('/web/js/root.js') }}"></script>
{% endblock %}

{% block footer %}
{% endblock %}